.series-tracker {
  max-height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  padding: 0.5rem;
  gap: 10px;
}
.header__search {
  flex-grow: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9;
}
.overlay--open {
  display: block;
}
.content {
  display: flex;
  flex-grow: 1;
  background-color: var(--seriesbg);
  position: relative;
  height: 100vh;
}
.content__list {
  flex-grow: 1;
  overflow-y: auto;
}
.darkMode {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 40px;
}
@media only screen and (max-width: 400px) {
  .header {
    flex-direction: column;
  }
}
