:host {
  display: contents;
  flex-grow: 1;
}
.aside {
  background-color: var(--aside);
  color: white;
  transition: width 400ms ease, background-color 200ms ease;
  width: 0;
  overflow: auto;
  white-space: nowrap;
  flex-shrink: 0;
  height: 100%;
}
.aside__content {
  padding: 1rem;
}
.aside--open {
  width: 400px;
  transition: width 400ms ease, background-color 200ms ease;
}
@media only screen and (min-width: 1000px) {
  .aside {
    position: static;
    transform: translateX(0);
    transition: width 0ms ease, background-color 200ms ease;
    width: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .aside {
    position: absolute;
    top: 0;
    right: 0;
  }
  .aside--open {
    width: 100%;
  }
}
