<form class="filter" [formGroup]="seriesFilterForm" (ngSubmit)="onSubmit()">
  <h1 class="title">Filter</h1>
  <div class="filter__option">
    <p>season</p>
    <input type="number" formControlName="season" />
  </div>
  <div class="filter__option">
    <p>episode</p>
    <input type="number" formControlName="episode" />
  </div>
  <div class="filter__option">
    <p>Type</p>
    <select formControlName="type">
      <option value="">Choose type</option>
      <option value="movie">movie</option>
      <option value="series">series</option>
    </select>
  </div>
  <div class="filter__option">
    <p>Genre</p>
    <select formControlName="genre">
      <option value="">Choose genre</option>
      <option value="anime">Anime</option>
      <option value="donghua">Donghua</option>
      <option value="kreskówka">Cartoon</option>
    </select>
  </div>
  <div class="filter__option">
    <p>watched</p>
    <select formControlName="watched">
      <option value="">Choose</option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  </div>
  <div class="filter__option">
    <p>tags</p>
    <add-tag [tagNames]="tagNames" (addNewTag)="tagNames = $event"></add-tag>
  </div>
  <div class="tags-container">
    @for(tagName of tagNames;track tagName){
    <tag
      [changeMode]="true"
      [tagName]="tagName"
      (tagRemoved)="removeTag($event)"
    ></tag>
    } @if(tagNames.length===0){ brak tagów }
  </div>

  <input type="submit" value="Apply" />
  <input type="button" value="reset" (click)="clearSettings()" />
</form>
