.title {
  text-align: center;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
select,
input:not(input[type="button"], input[type="submit"], input[type="number"]) {
  width: 200px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}
input[type="number"] {
  width: 100px;
}
@media only screen and (max-width: 400px) {
  .filter__option {
    flex-direction: column;
  }
}
