<form class="filter" [formGroup]="seriesFilterForm" (ngSubmit)="onSubmit()">
  <h1 class="title">Filter</h1>
  <div class="filter__option">
    <p>season</p>
    <input class="form-control" type="number" formControlName="season" />
  </div>
  <div class="filter__option">
    <p>episode</p>
    <input class="form-control" type="number" formControlName="episode" />
  </div>
  <div class="filter__option">
    <p>Type</p>
    <select formControlName="type" class="form-select">
      <option value="">Choose type</option>
      @for(name of typeList | async;track name){
      <option [value]="name">{{ name }}</option>
      }
    </select>
  </div>
  <div class="filter__option">
    <p>Genre</p>
    <select formControlName="genre" class="form-select">
      <option value="">Choose genre</option>
      @for(name of genreList | async;track name){
      <option [value]="name">{{ name }}</option>
      }
    </select>
  </div>
  <div class="filter__option">
    <p>Animation</p>
    <select formControlName="animation" class="form-select">
      <option value="">Choose animation</option>
      @for(name of animationList | async;track name){
      <option [value]="name">{{ name }}</option>
      }
    </select>
  </div>
  <div class="filter__option">
    <p>watched</p>
    <select formControlName="watched" class="form-select">
      <option value="">Choose</option>
      <option value="1">true</option>
      <option value="0">false</option>
    </select>
  </div>
  <div class="filter__option">
    <p>tags</p>
    <add-tag [tagNames]="tagNames" (addNewTag)="tagNames = $event"></add-tag>
  </div>
  <div class="tags-container">
    @for(tagName of tagNames;track tagName){
    <tag
      [changeMode]="true"
      [tagName]="tagName"
      (tagRemoved)="removeTag($event)"
    ></tag>
    }
  </div>
  <div class="buttons">
    <input class="btn btn-primary" type="submit" value="Apply" />
    <input
      class="btn btn-danger"
      type="button"
      value="reset"
      (click)="clearSettings()"
    />
  </div>
</form>
