@let season=series.season; @let episode=series.episode; @let
name=series.names[0]; @let hours=series.watchTime?.hours; @let
minutes=series.watchTime?.minutes; @let seconds=series.watchTime?.seconds; @let
watched=series.watched; @let type=series.type; @let genre=series.genre; @let
watchTimeActive=series.watchTimeActive;
<form
  class="series"
  [ngClass]="{
    even: even,
    odd: !even,
    'was-validated': wasValidated
  }"
  [formGroup]="seriesForm"
  (ngSubmit)="save()"
>
  <div class="series__data">
    <div class="field field--form">
      <label>Name:</label>
      <input
        class="form-control field__data"
        type="text"
        formControlName="name"
        required
      />
    </div>
    <div class="field--right field--form">
      <input
        (click)="addNewName()"
        class="btn btn-success"
        type="button"
        value="add new name"
      />
    </div>
    @if(this.names.length>0){ Names: @for( name of names;track name.id;let
    index=$index){
    <div class="field field--form">
      <seriesRemovableNameInput
        [name]="names[index].value"
        (nameChange)="names[index].value = $event"
        [id]="name.id"
        (removeName)="removeName($event)"
      ></seriesRemovableNameInput>
    </div>
    } }
    <div class="field field--form">
      <label>Season:</label>
      <input
        class="form-control field__data"
        type="number"
        min="0"
        [value]="season"
        formControlName="season"
      />
    </div>
    <div class="field field--form">
      <label>Episode:</label>
      <input
        class="form-control field__data"
        type="number"
        min="0"
        [value]="episode"
        formControlName="episode"
      />
    </div>
    <div class="field field--form">
      <label>Watched:</label>
      <select class="form-select field__data" formControlName="watched">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </div>
    <div class="field field--form form-check form-switch">
      <label>WatchTime:</label>
      <input
        type="checkbox"
        class="form-check-input field__data"
        [checked]="watchTimeActive"
        (click)="toggleShowWatchTime()"
        formControlName="watchTimeActive"
      />
    </div>
    <div
      [ngClass]="{
        'watch-time': true,
        'watch-time--show': showWatchTime
      }"
    >
      <div class="watch-time__field">
        Hours<input
          class="form-control field__data"
          type="number"
          [value]="hours ?? 0"
          min="0"
          max="23"
          formControlName="hours"
          required
        />
      </div>
      <div class="watch-time__field field__data">
        Minutes<input
          class="form-control"
          type="number"
          [value]="minutes ?? 0"
          min="0"
          max="59"
          formControlName="minutes"
          required
        />
      </div>
      <div class="watch-time__field field__data">
        Seconds<input
          class="form-control"
          type="number"
          [value]="seconds ?? 0"
          min="0"
          max="59"
          formControlName="seconds"
          required
        />
      </div>
    </div>
    <div class="field field--form">
      Type
      <select class="form-select field__data" formControlName="type">
        <option value="">Choose type</option>
        <option value="movie">movie</option>
        <option value="series">series</option>
      </select>
    </div>
    <div class="field field--form">
      Genre
      <select class="form-select field__data" formControlName="genre">
        <option value="">Choose genre</option>
        <option value="anime">anime</option>
        <option value="donghua">donghua</option>
        <option value="cartoon">cartoon</option>
      </select>
    </div>
    <div class="field field--form">
      <div>tags:</div>
      <add-tag [tagNames]="tagNames" (addNewTag)="tagNames = $event"></add-tag>
    </div>
    <div class="series__tags">
      @for(tagName of tagNames; track tagName){
      <tag
        [tagName]="tagName"
        [changeMode]="true"
        (tagRemoved)="removeTag($event)"
      ></tag>
      }
    </div>
  </div>
  <div class="series__buttons">
    <input
      type="button"
      class="btn btn-danger"
      (click)="delete()"
      value=" Delete"
    />
    <input
      type="button"
      class="btn btn-secondary"
      (click)="cancelChanges()"
      value="Cancel"
    />
    <input type="submit" class="btn btn-success" value="Save" />
  </div>
</form>
