.series {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 20px;
}
.series__buttons {
  display: flex;
  gap: 5px;
}
.series__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.series__data__field {
  display: flex;
  gap: 10px;
  align-items: center;
}
.series__tags {
  display: flex;
  gap: 10px;
}
.even {
  background-color: #2a2a2a;
}
.odd {
  background-color: #1f1f1f;
}
.series__btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
}
.series__btn--save {
  background-color: rgb(4, 75, 4);
  color: white;
}
.series__btn--save:hover {
  background-color: rgb(7, 114, 7);
}
.series__btn--delete {
  background-color: red;
  color: white;
}
.series__btn--delete:hover {
  background-color: rgb(255, 43, 43);
}
.series__btn--cancel {
  background-color: rgb(25, 75, 214);
  color: white;
}
.series__btn--cancel:hover {
  background-color: rgb(56, 102, 228);
}
