.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 5px black;
  z-index: 10;
  transition: all 400ms ease;
  opacity: 0;
}
.confirmation--show {
  opacity: 1;
  top: 50%;
  transition: all 400ms ease;
}
.confirmation__title {
  text-align: center;
}
.confirmation__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
