.view__settings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.view__settings__option {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.title {
  text-align: center;
}
input[type="checkbox"] {
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}
