<div class="name">
  <div class="field--right">
    <input
      (click)="addNewName()"
      class="btn btn-success"
      type="button"
      value="add new name"
    />
  </div>
  @for( name of names();track name.id;let index=$index){
  <div class="field">
    <seriesRemovableNameInput
      [name]="names()[index].value"
      (nameChange)="names()[index].value = $event; updateNamesValues()"
      [id]="name.id"
      (removeName)="removeName($event); updateNamesValues()"
    ></seriesRemovableNameInput>
  </div>
  }
</div>
