.form {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow-y: auto;
  gap: 10px;
  width: clamp(200px, 50%, 600px);
  background-color: rgb(113, 175, 245);
  padding: 1rem;
  border-radius: 12px;
  top: -50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 400ms ease;
  z-index: 10;
  opacity: 0;
}
.form--show {
  top: 50%;
  transition: all 400ms ease;
  opacity: 1;
}
input[type="checkbox"] {
  height: 20px;
  width: 50px;
}
input[type="text"],
select {
  width: 300px;
}
input[type="text"].invalid {
  outline: 1px solid red;
}
input[type="number"] {
  width: 70px;
}
.form__field {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
}

.form__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form__field__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.form__field__time {
  display: flex;
  height: 0;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  transition: height 400ms ease;
}
.form__field__time--show {
  height: 130px;
  overflow: visible;
  transition: height 400ms ease;
}

.form__field__time__field {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  gap: 10px;
}
@media only screen and (max-width: 600px) {
  .form__field--default {
    flex-direction: column;
  }
  .form__field--default .form__field__label {
    text-align: center;
  }
}
