<form
  #formContainer
  class="form form--show"
  [formGroup]="seriesForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form__field form__field--default">
    <label>Name</label>
    <input class="form-control" type="text" formControlName="name" />
  </div>
  <div class="form__field form__field--default">
    <label>Type</label>
    <select class="form-select" formControlName="type">
      <option value="">Choose type</option>
      <option value="movie">movie</option>
      <option value="series">series</option>
    </select>
  </div>
  <div class="form__field form__field--default">
    <label>Genre</label>
    <select class="form-select" formControlName="genre">
      <option value="">Choose genre</option>
      <option value="anime">Anime</option>
      <option value="donghua">Donghua</option>
      <option value="kreskówka">Cartoon</option>
    </select>
  </div>
  <div class="form__field">
    <label>Add tag</label>
    <add-tag [tagNames]="tagNames" (addNewTag)="tagNames = $event"></add-tag>
  </div>

  <div class="form__field">
    <div>tags:</div>
    <div class="form__field__tags">
      @for(tagName of tagNames;track tagName){
      <tag
        [changeMode]="true"
        [tagName]="tagName"
        (tagRemoved)="removeTag($event)"
      ></tag>
      }
    </div>
  </div>
  <div class="form__field">
    <label>Season: </label
    ><input
      class="form-control"
      min="0"
      type="number"
      formControlName="season"
    />
  </div>
  <div class="form__field">
    <label>Episode: </label
    ><input
      class="form-control"
      min="0"
      type="number"
      formControlName="episode"
    />
  </div>
  <div class="form__field">
    <label>Watched: </label>
    <select class="form-select" formControlName="watched">
      <option value="0">false</option>
      <option value="1">true</option>
    </select>
  </div>
  <div class="form__field form-switch">
    <label>WatchTime: </label>
    <input
      class="form-check-input"
      type="checkbox"
      [checked]="showWatchTime"
      (click)="toggleShowWatchTime()"
    />
  </div>
  <div
    class="form__field__time"
    [ngClass]="{
      'form__field__time--show': showWatchTime
    }"
  >
    <div class="form__field__time__field">
      hours<input
        class="form-control"
        type="number"
        min="0"
        max="23"
        formControlName="hours"
      />
    </div>
    <div class="form__field__time__field">
      minutes<input
        class="form-control"
        type="number"
        min="0"
        max="59"
        formControlName="minutes"
      />
    </div>
    <div class="form__field__time__field">
      seconds<input
        class="form-control"
        type="number"
        min="0"
        max="59"
        formControlName="seconds"
      />
    </div>
  </div>

  <div class="form__buttons">
    <input
      type="button"
      class="btn btn-danger"
      value="close"
      (click)="close()"
    />
    <input class="btn btn-success" type="submit" value="add" />
  </div>
</form>
