.series-tracker {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  padding: 0.5rem;
  gap: 10px;
}
.header__search {
  flex-grow: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9;
}
.overlay--open {
  display: block;
}
.content {
  display: flex;
  flex-grow: 1;
  background-color: gray;
  position: relative;
  overflow: hidden;
}
.content__list {
  flex-grow: 1;
  overflow-y: auto;
}

.aside {
  background-color: #34495e;
  color: white;
  height: 100%;
  transition: width 400ms ease;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  overflow-y: auto;
}
.aside__content {
  padding: 1rem;
}
.aside--open {
  width: 400px;
  transition: width 400ms ease;
}
@media only screen and (min-width: 1000px) {
  .aside {
    position: static;
    transform: translateX(0);
    transition: all 0ms ease;
    width: 400px;
  }
  .hide-on-desktop {
    display: none;
    font-size: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .aside {
    position: absolute;
    top: 0;
    right: 0;
  }
  .aside--open {
    width: 100%;
  }
}
