.series {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 20px;
}
.series__buttons {
  display: flex;
  gap: 5px;
}
.series__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.series__data__field {
  display: flex;
  gap: 10px;
  align-items: center;
}
.series__tags {
  display: flex;
  gap: 10px;
}
.even {
  background-color: #2a2a2a;
}
.odd {
  background-color: #1f1f1f;
}
input[type="number"] {
  width: 50px;
}
.series__btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
}
.series__btn--edit {
  background-color: blue;
  color: white;
}

.series__btn--edit:hover {
  background-color: rgb(61, 61, 233);
}
