@let watchTimeActive=series().watchTimeActive; @if(isEditMode){
<series-form
  [series]="series()"
  [even]="even()"
  (closeForm)="toggleEditMode()"
></series-form>
} @else {
<div
  class="series"
  [ngClass]="{
    even: even(),
    odd: !even()
  }"
>
  <div class="series__data">
    @if(viewSettings.name){
    <p class="">Name: {{ series().names[0] }}</p>
    } @if(viewSettings().season){
    <p class="">
      Season: @if(series().season===null){ none } @else {
      {{ series().season }} }
    </p>
    } @if(viewSettings().episode){
    <p class="">
      Episode: @if(series().episode===null){ none } @else {
      {{ series().episode }} }
    </p>
    } @if(viewSettings().watched){
    <p class="">Watched: {{ series().watched }}</p>
    } @if(viewSettings().watchtime){

    <p class="">
      @if(watchTimeActive){ WatchTime:
      {{ series().watchTime.hours | number : "2.0" }} :
      {{ series().watchTime.minutes | number : "2.0" }} :
      {{ series().watchTime.seconds | number : "2.0" }}
      } @else { WatchTime: none }
    </p>
    } @if(viewSettings().type){
    <p>Type: @if(series().type.length===0){none}@else{ {{ series().type }}}</p>
    } @if(viewSettings().genre){
    <p>
      Genre: @if(series().genre.length===0){none}@else{ {{ series().genre }}}
    </p>
    } @if(viewSettings().animation){
    <p>
      Animation: @if(series().animation.length===0){none}@else{
      {{ series().animation }}}
    </p>
    } @if(viewSettings().tags){
    <div>
      <div class="series__tags">
        <div>tags:</div>
        @for(tagName of series().tagNames; track tagName){
        <tag [tagName]="tagName"></tag>
        } @if(series().tagNames.length===0){ none }
      </div>
    </div>
    }
  </div>
  <button class="btn btn-primary" (click)="toggleEditMode()">Edit</button>
</div>

}
